<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>gpuview</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.min.css"
        rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" href="/index">gpuview dashboard</a> 
            <span class="mx-sm-3 text-white">{{update_time}}</span> 
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Table">
                        <!-- 添加按钮和输入框 -->
                        <form class="form-inline my-2 my-lg-0">
                            <div class="input-group">
                                <input v-model="refreshInterval" type="number" class="form-control mr-sm-2"
                                    placeholder="Refresh interval (seconds)">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                                    @click="startAutoRefresh">
                                    Start Refresh
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="container-fluid" style="padding: 70px 40px 40px 40px">
                <div class="row">
                    <template v-for="gpustat in gpustats">
                        <template v-for="gpu in gpustat.gpus">
                            <div :key="gpu.index" class="col-xl-3 col-md-4 col-sm-6 mb-3">
                                <div class="card text-white" :class="gpu.flag || ''">
                                    <div class="card-body">
                                        <div class="float-left">
                                            <div class="card-body-icon">
                                                <i class="fa fa-server"></i> <b>{{ gpustat.hostname || '-' }}</b>
                                            </div>
                                            <div>[{{ gpu.index || '' }}] {{ gpu.name || '-' }}</div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-white clearfix small z-1">
                                        <span class="float-left">
                                            <span class="text-nowrap">
                                                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                                                Temp. {{ gpu['temperature.gpu'] || '-' }}&#8451;
                                            </span> |
                                            <span class="text-nowrap">
                                                <i class="fa fa-microchip" aria-hidden="true"></i>
                                                Mem. {{ gpu.memory || '-' }}%
                                            </span> |
                                            <span class="text-nowrap">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                Util. {{ gpu['utilization.gpu'] || '-' }}%
                                            </span> |
                                            <span class="text-nowrap">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                {{ gpu.users || '-' }}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>

                <!-- GPU Stat Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> All Hosts and GPUs
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">Host</th>
                                        <th scope="col">GPU</th>
                                        <th scope="col">Temp.</th>
                                        <th scope="col">Util.</th>
                                        <th scope="col">Memory Use/Cap</th>
                                        <th scope="col">Power Use/Cap</th>
                                        <th scope="col">User Processes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="gpustat in gpustats" :key="gpustat.hostname">
                                        <tr v-for="(gpu, gpuIndex) in gpustat.gpus"
                                            :key="gpustat.hostname + '-' + (gpu.index !== undefined ? gpu.index : gpuIndex)">
                                            <td v-if="gpuIndex === 0" :rowspan="gpustat.gpus.length">{{ gpustat.hostname
                                                ||
                                                '-' }}</td>
                                            <td>[{{ gpu.index !== undefined ? gpu.index : '' }}] {{ gpu.name || '-' }}
                                            </td>
                                            <td>{{ gpu['temperature.gpu'] !== undefined ? gpu['temperature.gpu'] : '-'
                                                }}&#8451;</td>
                                            <td>{{ gpu['utilization.gpu'] !== undefined ? gpu['utilization.gpu'] : '-'
                                                }}%
                                            </td>
                                            <td>
                                                {{ gpu.memory !== undefined ? gpu.memory : '-' }}%
                                                ({{ gpu['memory.used'] || '' }}/{{ gpu['memory.total'] || '-' }})
                                            </td>
                                            <td>
                                                {{ gpu['power.draw'] !== undefined ? gpu['power.draw'] : '-' }} / {{
                                                gpu['enforced.power.limit'] || '-' }}
                                            </td>
                                            <td>{{ gpu.user_processes || '-' }}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">{{ update_time }}</div>
                </div>
                <footer class="sticky-footer">
                    <div class="container">
                        <div class="text-center text-white">
                            <small>Thx &nbsp<a href="https://github.com/fgaim/gpuview">gpuview</a> © 2018</small><br>
                            <small>Vue & Flask version By Jysir &nbsp<a href="https://github.com/bei9/gpuview-flask">gpuview</a> © 2024</small>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                refreshInterval: 2, // 默认刷新间隔为10秒
                autoRefreshTimer: null, // 自动刷新定时器
                gpustats: [
                    {
                        hostname: 'host1',
                        gpus: [
                            {
                                index: 0,
                                name: 'GPU 1',
                                'temperature.gpu': 65,
                                'utilization.gpu': 50,
                                memory: 80,
                                'memory.used': '8GB',
                                'memory.total': '10GB',
                                'power.draw': '100W',
                                'enforced.power.limit': '150W',
                                users: 'user1',
                                flag: 'bg-primary'
                            },
                            {
                                index: 1,
                                name: 'GPU 2',
                                'temperature.gpu': 70,
                                'utilization.gpu': 60,
                                memory: 70,
                                'memory.used': '7GB',
                                'memory.total': '10GB',
                                'power.draw': '120W',
                                'enforced.power.limit': '150W',
                                users: 'user2',
                                flag: 'bg-success'
                            }
                        ]
                    },
                    {
                        hostname: 'host2',
                        gpus: [
                            {
                                index: 0,
                                name: 'GPU 3',
                                'temperature.gpu': 60,
                                'utilization.gpu': 40,
                                memory: 60,
                                'memory.used': '6GB',
                                'memory.total': '10GB',
                                'power.draw': '90W',
                                'enforced.power.limit': '150W',
                                users: 'user3',
                                flag: 'bg-warning'
                            }
                        ]
                    }
                ],
                update_time: '2024-07-04 12:00:00'
            },
            created() {
                this.fetchData();
            },
            methods: {
                fetchData() {
                    axios.get('/all_gpustat')
                        .then(response => {
                            this.gpustats = response.data.gpustats;
                            this.update_time = response.data.now;
                            this.startAutoRefresh();
                        })
                        .catch(error => {
                            console.error("There was an error fetching the GPU stats:", error);
                        });
                },
                startAutoRefresh() {
                    // 停止之前的定时器
                    if (this.autoRefreshTimer) {
                        clearInterval(this.autoRefreshTimer);
                    }

                    // 设置新的定时器
                    this.autoRefreshTimer = setInterval(() => {
                        this.fetchData();
                    }, this.refreshInterval * 1000);
                }
            }
        });
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js"></script>
</body>

</html>